@model UpdateEmployeeDto
@{
    ViewData["Title"] = "Create Employee";
}

div class="row justify-content-center align-content-center flex-column">
<h1 class="col-6 my-4">Edit Employee @Model.Name.</h1>
<form asp-action="Edit" method="post" class=" =row col-6">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group" col-6">
        <label class="form-label" asp-for="EmployeeType"></label>
        <select asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-control">
            <option value="">Choose...</option>
        </select>
    </div>
    <div class="form-group" col-6">
        @foreach (Gender genderOption in Enum.GetValues(typeof(Gender)))
        {
            <div>
                <input type="radio" class="form-check-input" asp-for="Gender" value="@genderOption" />
                <label class="form-check-label" asp-for="Gender">
                    @genderOption
                </label>
            </div>
        }
    </div>

    <div class="form-group" col-12 ">
        <label class="form-label" asp-for="HiringDate"></label>
        <input asp-for="HiringDate" type="date" class="form-control" />
    </div>

    <div class="form-group" col-12 ">
        <div class="form-check">
            <input asp-for="IsActive" type="checkbox" class="form-check-input" />
            <label class="form-check-label" asp-for="IsActive"></label>
        </div>
    </div>



    <div class="mt-4">
        <input type="submit" value="Update" class="btn-success" />
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
</form>
</div>



